{% extends 'User/Profile/base-profile.html' %}
{% load staticfiles %}
{% block head %}{% endblock %}
{% block body %}
    <h1>Caregiver</h1>
    <a href="{% url 'user:add_patient' %}">Add Patient</a>
    <form method="post" action="">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Patient Username">
        <input type="submit" value="Search">
    </form>
    {% if patient %}
        <a href="{% url 'user:patient_profile' patient.username %}">{{ patient.get_full_name }}</a>
    {% endif %}
    {% if error %}
        <h3>{{ error }}</h3>
    {% endif %}
{% endblock %}